<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Enroll Patient</title>
</head>
<body>
	<h1>Enroll Patient</h1>
	{% if message %}
		<p>{{message}}</p>
	{% endif %}
	<form action="/enrollPatientHandler" method=post>
	  <input type="text" name = "patient" placeholder="patient" required/> </br>
	  <input type=submit value=Upload>
	</form>
	<a href='/home'>Home</a>
</body>