<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <br>
    <h2>Hello, {{session['firstName']}}</h2>
    {% if session["role"] == 'caretaker' %}
        <a href="/enrollPatient">Enroll Patient</a><br>
        <a href="/viewCaretakerPatient">View Your Patients</a><br>
        <a href="/viewEmergencyAlert">View Emergency Alerts</a><br>
    {% elif session["role"] == 'patient' %}
        <a href="/viewCaretakerPatient">View Your Care Providers</a><br>
        <a href="/sendEmergencyAlert">Send Emergency Alert</a><br>
    {% endif %}
    <a href="/medicalReportMenu">Medical Report</a>
    <br>
    {% if session["role"] == 'patient' %}
        <a href="/geotracker">Track Me</a>

    {% elif session["role"] == 'caretaker' %}
        <form action="/getLocation" method="POST">
            <input type="text" name = "patient_username" placeholder="Patient Username" required/> </br>
            <input type="submit" value="Get Location" />
        </form>
    {% endif %}
    <br>
    <a href="/logout">Logout</a>
    <br><br>
    <img src="{{ url_for('static', filename='alzheimerFact.jpg') }}" style="width:100%;max-width:1000px" >
    </body>
</html>