<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Register</title>
</head>
<body>
    <form action="/registerAuth" method="POST">
        <input type="text" name = "username" placeholder="username" required/> </br>
        <input type="password" name = "password" placeholder="password" required/></br>
        <input type="submit" value = Login />
        {% if error %}
            <br><br>
            <p><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
</body>
</html>