<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Report Menu</title>
</head>
<body>
	<h1>Report Menu</h1>
	<p>This page will dynamically display options with respect to your role</p>
	<p>User: {{session["username"]}}</p>
	<p>Role: {{session["role"]}}</p>
	<br><br>
	{% if session['role'] == 'caretaker' %}
		<a href='/uploadReport'>Upload a report</a><br>
	{% endif %}
	<a href='/viewReport'>View Reports</a>

	<br><br><a href="/home">Home</a>
</body>
</html>